<nav class="navbar navbar-expand-lg navbar-dark py-3 fixed-top">
        <div class="container">
            <a href="#" class="navbar-brand">MB College</a>
            <button
              class="navbar-toggler"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#navmenu"
            >
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navmenu">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a href="/courseindex" class="nav-link">Course Build</a>
                    </li> 
                </ul>
               <a href="/logout" class="btn btn-sign-in ms-3">Log out</a>
            </div>
        </div>
    </nav>