<nav class="navbar navbar-expand-lg navbar-dark py-3 fixed-top">
        <div class="container">
            <a href="#" class="navbar-brand">MB College</a>
            <button
              class="navbar-toggler"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#navmenu"
            >
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navmenu">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a href="/" class="nav-link">Build Schedule</a>
                    </li>
                    <li class="nav-item">
                        <a href="/shoppingCart" class="nav-link">Shopping Cart</a>
                    </li>
                    <li class="nav-item">
                        <a href="/currentSchedule" class="nav-link">Current Schedule</a>
                    </li>
                    <li class="nav-item">
                        <a href="instructors" class="nav-link">Instructor's View</a>
                    </li>
                    <li class="nav-item">
                        <a href="/courseindex" class="nav-link">Course Index</a>
                    </li>
                    
                    <li class="nav-item">
                        <a href="/help" class="nav-link">Help</a>
                    </li>
                    
                </ul>
               <a href="/sign-in" class="btn btn-sign-in ms-3">Sign In</a>
            </div>
        </div>
    </nav>