<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Course Scheduling</title>
</head>

<nav>
    <a href="/">Build Schedule</a>
    <a href="/shoppingCart">Shopping Cart</a>
    <a href="/currentSchedule">Current Schedule</a>
    <a href="/help">Help</a>
</nav>
<body>
    
</body>
</html>