<%- include('./partials/head.ejs') %>
<%- include('./partials/studentNav.ejs') %> 
<html lang="en">
<body>
    
    <section class="text-light p-5 text-center mt-5 image-section">
        <div class="container d-flex align-items-center">
            <div class="image-container">
                <img src="public/img/uni.jpg" alt="Grad cap" class="centered-image" />
            </div>
            <div class="text-container">
                <h1>About Us!</h1>
                <p>
                    Welcome to Maui Burst College! We invite you to join our vibrant community, where you can immerse yourself in a rich educational experience. Here, you’ll discover a diverse array of programs designed to ignite your passion for learning and help you reach your full potential. Our dedicated faculty are committed to providing personalized support, ensuring that every student feels valued and empowered.
                    <br><br>Join us today, and embark on an exciting journey of personal and academic growth, where every step is guided by our commitment to your success!
                </p>
            </div>
        </div>
    </section>
    
     <section id="learn" class="p-5">
    </section>
    
    <section class="p-5">
        <div class="container">
            <div class="row text-center g-4">
                <div class="col-md">
                    <div class="card">
                        <div class="card-body text-center">
                            <div class="h1 mb-3">
                                <i class="bi bi-calendar"></i>
                            </div>
                            <h3 class="card-title mb-3">View & Build a Schedule</h3>
                            <p class="card-text">
                                 Design a schedule that fits your unique needs and goals. Get started here!
                            </p>
                            <a href="/login" class="btn btn-primary">More info</a>
                        </div>
                    </div>
                </div>
                <div class="col-md">
                    <div class="card">
                        <div class="card-body text-center">
                            <div class="h1 mb-3">
                                <i class="bi bi-person"></i>
                            </div>
                            <h3 class="card-title mb-3">Instructor Zone</h3>
                            <p class="card-text">
                                Are you a teacher? Please update your class information here.
                            </p>
                            <a href="login" class="btn btn-primary">More info</a>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
        <nav class="navbar navbar-expand-lg navbar-dark py-3 fixed-top">
            <a href="/login" class="btn btn-sign-in ms-3">Login</a>
            <a href="/signup" class="btn btn-sign-in ms-3">Registration</a>

    </section>
    
    <section id="learn" class="p-5">
    </section>
    
    
</body>


<%- include('./partials/footer.ejs') %>

</html>