<%- include('./partials/head.ejs') %>
<html lang="en">
<body>
    <%- include('./partials/nav.ejs') %> 
    <section class="text-light p-5 text-center mt-5 image-section">
        <div class="container d-flex align-items-center">
            <div class="image-container">
                <img src="img/uni.jpg" alt="Grad cap" class="centered-image" />
            </div>
            <div class="text-container">
                <h1>About Us!</h1>
                <p>
                    Welcome to Maui Burst College! Join us today and experience the excitement of learning in a supportive and inspiring setting!
                </p>
            </div>
        </div>
    </section>
    
     <section id="learn" class="p-5">
    </section>
    
    <section class="p-5">
        <div class="container">
            <div class="row text-center g-4">
                <div class="col-md">
                    <div class="card">
                        <div class="card-body text-center">
                            <div class="h1 mb-3">
                                <i class="bi bi-calendar"></i>
                            </div>
                            <h3 class="card-title mb-3">View & Build a Schedule</h3>
                            <p class="card-text">
                                 Design a schedule that fits your unique needs and goals. Get started here!
                            </p>
                            <a href="#" class="btn btn-primary">More info</a>
                        </div>
                    </div>
                </div>
                <div class="col-md">
                    <div class="card">
                        <div class="card-body text-center">
                            <div class="h1 mb-3">
                                <i class="bi bi-person"></i>
                            </div>
                            <h3 class="card-title mb-3">Instructor Zone</h3>
                            <p class="card-text">
                                Are you a teacher? Please update your class information here.
                            </p>
                            <a href="#" class="btn btn-primary">More info</a>
                        </div>
                    </div>
                </div>
                <div class="col-md">
                    <div class="card">
                        <div class="card-body text-center">
                            <div class="h1 mb-3">
                                <i class="bi bi-question"></i>
                            </div>
                            <h3 class="card-title mb-3">Help</h3>
                            <p class="card-text">
                                Find answers to common questions and tips for using our website!
                            </p>
                            <a href="#" class="btn btn-primary">More info</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <section id="learn" class="p-5">
    </section>
    
    
</body>
</html>