<html lang="en">
<%- include('../partials/head.ejs') %>
<body>
    <%- include('../partials/studentNav.ejs') %> 
    <section>
    <section class="container p-5">
        <h3 class="text-center co">Student Schedule:</h3>
        <table class="table table-bordered table-striped" id="courseTable">
            <thead>
                <tr>
                    <th>CRN</th>
                    <th>Subject</th>
                    <th>Course</th>
                    <th>Instructor</th>
                    <th>Days & Location</th>
                    <th>Date</th>
                    <th>Credits</th>
                    <th>Description</th>
                </tr>
            </thead>
    </section>
</body>
</html>