<html lang="en">
<%- include('../partials/head.ejs') %>
<body>
    <%- include('../partials/studentNav.ejs') %> 
    
    <h2 class="text-center">Course Selection</h2>

    <section>
        <form action="/currentSchedule" method="get">
             


        </form>
    </section>
</body>
</html>